@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'ZalandoSans';
  src: url(./fonts/ZalandoSansExpanded-VariableFont_wght.ttf);
}


@font-face {
  font-family: 'Michroma';
  src: url(./fonts/Michroma-Regular.ttf);
}

:root {
  /*Colores*/
  --color-primary: #EEE6F7; 
  --color-bg-main: #21222e; 
  --color-bg-card: #CCCCCC; 
  --color-text-main: #E2E8F0;

  /*Fuentes*/
  --titles-font: 'Manrope';
  --texts-font: 'ZalandoSans';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background:linear-gradient(to bottom, #53545A, #EEE6F7) ;
}

nav {
  font-family: 'Manrope';
  color: white;
}


@media (min-width: 768px){
 nav {
  font-family: 'Manrope';
  color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(33, 34, 46, 0.7);
  box-shadow: 1px 1px 10px black;
 }
}

.menu-options a:hover {
  color: #EEE6F7;
}

#close-menu {
  color: white;
}

#close-menu:hover {
  color : white
}

#burguir span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-text-main);
}


#hero h1 {
  font-weight:500;
  font-family: var(--titles-font);
  background-image: radial-gradient(circle, #ffffff, #A6A6A6); /* Example colors and shape */
  
  /* 2. Clip the background to the text content */
  -webkit-background-clip: text; /* For Safari/older browsers */
  background-clip: text;
  
  /* 3. Make the actual text color transparent so the background shows through */
  -webkit-text-fill-color: transparent; /* For Safari/older browsers */
  color: transparent; /* Standard property */
}

.titleandname {
  font-family: var(--texts-font);
}

#web-dev {
  font-family: 'Manrope';
}

#brand {
  font-family: 'Michroma';
}

.titleandname h1 {
  font-weight: 800;
  color: #CCCCCC;
}


#what-we-do p {
  font-family:var(--titles-font);
  color: #F9F9F9;
}

p span {
  font-style: italic;
}

#what-we-do button {
  background:radial-gradient(circle, #ffffff, var(--color-primary));
  width: fit-content;
  color: #21222e;
}

#carousel-container .snap-center {
  background:radial-gradient(circle, #ffffff, #E2E8F0);
  width: fit-content;
  color: #21222e;
}

#carousel-container h3 {
  color: #21222e;
}

.no-scrollbar::-webkit-scrollbar {
      display: none;
}
        /* Ocultar barra de scroll para IE, Edge and Firefox */
.no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

.info-card div{
  color: var(--color-bg-main);
}


.start {
  background-color:var(--color-text-main);
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--color-bg-main);
}

.start:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.professional h3 {
  font-family: var(--texts-font);
  color: var(--color-text-main);
}

h4 {
  font-family: var(--titles-font);
  color:#dedede;
  text-align: center;
  width: fit-content;
  align-self: center;
  padding: 10px;
}

#selectedw {
  font-weight: bold;
  font-size: 30px;
}

#selectedw h4 {
  color: white;
}

p {
    font-family: var(--titles-font);
}

.technologies div {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--texts-font);
  font-weight:600;
  color: black;
  align-items: center;
}

.technologies div:last-child{
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 1440px) {

  .technologies div {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-family: var(--texts-font);
  font-size: 36px;
  font-weight:600;
  color: black;
  align-items: center;
  }

  .projects div article img {
    width: 350px;
    height: 313px;
  }

 .projects h5 {
  font-size: 40px;
  }
  .projects p {
    font-size: 24px;
    width: 320px;
  }
}

span {
  cursor: pointer;
}

.technologies span:hover {
  color: #00e20f ;
}


.technologies div:hover {
  background-color: #3d6b5a;
}

.projects h5 {
  font-family: var(--texts-font);
  font-weight:600;
  color: black;
}

.projects h5:hover {
  color: #00e20f;
}


article img {
  border-radius: 10px;
  box-shadow: 10px 10px black;
}


#about-me-text article {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

article div {
  display: flex;
  align-items: center;
}

#about-me-text article p {
  color: black;
}


.contacto ul {
   font-family: var(--titles-font);
  color: black;
  font-size: 20px;
  text-align: center;
}

.contacto h4 {
  background-color: rgba(0, 0, 0, 0);
  padding: 0%;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
}

footer h4 {
  color: black;
}